.cart-container{
    display: flex;
    flex-direction: row;
}

.map-container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}
.empty-cart{
    margin-bottom: 280px;
}
@media screen and (max-width: 500px) {
    .map-container{
        grid-template-columns: 1fr;
    }
    .cart-container{
        
        flex-direction: column;
    }
  }